@import "../../../styles/variables";

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $purple-4;
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: $header-height;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background: url("../../../assets/images/wavy-line.png");
    background-size: contain;
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
  }

  .home-link {
    color: $white;
    font-weight: bold;
    font-size: 16;
    line-height: 1.9rem;
    text-decoration: none;
  }
}
