$black: #000;
$white: #fff;
$purple-1: #280c49;
$purple-2: #995fff;
$purple-3: #280c49;
$purple-4: #482668;
$light-purple: #efd9ff;
$red: #e61d41;
$light-red: #ff3156;
$light-yellow: #fce0b5;
$grey: #d9e2e9;
$gold-1: #dcb477;
$gold-2: #a37930;
$orange-1: #ef7f1a;
$orange-2: #dd6600;

$header-height: 60px;
