@import "../../styles/variables";

.data-container {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

  .button-container {
    display: flex;
    gap: 10px;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;

    .table {
      width: 100%;
      margin-top: 20px;
      border-spacing: 0;
      color: $white;

      &__head {
        &__row {
          &__cell {
            border: 1px solid $grey;
            padding: 0.8rem;
            white-space: pre-line;
          }
        }
      }

      &__body {
        &__row {
          &__cell {
            border: 1px solid $grey;
            padding: 0.8rem;

            vertical-align: top;

            &__img {
              width: 100%;
              max-width: 200px;
            }

            .post-title {
              color: $white;
            }

            .icon-container {
              display: flex;
              flex-direction: column;
              gap: 20px;
              align-items: center;
              min-width: 20px;
            }
          }
        }
      }
    }
  }
}
